*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.conatainer{
    padding: 2rem;
}
label{
   margin: 10px;
    font-size: 20px;
    background-color: aliceblue;
}
#SelectFont{
    font-size: 16px;
}
main{
    margin-top: 20px;
    background-color: red;
    padding: 25px;
    color: white;
    border-radius: 10px;
}
button{
    font-size: 30px;
    border: none;
   
    padding: 10px;
    border-radius: 15px;
}
#selectBg{
    font-size: 16px;
}